// Copy this file to `wifi.ron` in the local directory and fill in your values for the ESP32 access point

ClientConfiguration(
    ssid: "MyNetwork",
    bssid: Some((0x00, 0x00, 0x00, 0x00, 0x00, 0x00)),
    auth_method: AuthMethod::WPA2WPA3Personal,
    password: "MyPassword",
    channel: Some(1),
)